<?xml version="1.0" encoding="UTF-8"?>
  
<Module>
    <ModulePrefs title="Deal Room"
                author="isonakshi"
           description="Manage the social groups on this Jive instance">
        <Link rel="Icon" href="group-icon.png"/>
        <Require feature="dynamic-height"/>
        <Require feature="jive-core-v2"/>
        <Require feature="jquery-1.4.2"/>
        <Require feature="minimessage"/>
        <Require feature="osapi"/>
        <Require feature="views"/>
    </ModulePrefs>
    <Content view="home, canvas" type="html" href="group-management.html"/>
</Module>
